body{
    font-family: Arial, sans-serif;
}

.login-button{
    margin:auto;
    background-color: green;
    align-self: center;
    height: 30px;
    width: 100px;
   
}
.task-row{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.task-matrix{
    margin-top: 20px;
}
.head{
    display: flex;
    justify-content: left;
    gap: 100px;
}

.login-form{
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    margin-left: 45%;
    justify-content: center;
}