<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <div class ="head">
        <input type="text" name="search" id="searchInput" placeholder="Search" oninput="searchTasks()">

        <form action="/update" id = "updateForm">
            <input type="text" name="description" placeholder="">
            <input type="date" name="date" placeholder="">
            <input type="text" name="category" placeholder="">
            <input type="hidden" name="updateid" placeholder="">
            <input type="submit" value="Update task" class="update-button">
        </form>

        <form action="/create" class="create" id="createform">
            <input type="text" name="description" placeholder="task description">
            <input type="date" name="date" placeholder="date">
            <input type="text" name="category" placeholder="category">
            <input type="submit">
        </form>
    </div>
    <div class = "task-matrix" id="taskMatrix">
        {% for task in tasks %}
            <div class="task-row">
                <div class = "task-attribute" id="taskDescription">{{task.description}}</div>
                <div class = "task-attribute" id ="taskDate">{{task.date}}</div>
                <div class = "task-attribute" id ="taskCategory">{{task.category}}</div>

                <form action="/delete" method="POST">
                    <input type="hidden" name="deleteid" value="{{task.id}}">
                    <input type="submit" value="Delete task" class="delete-button">
                </form>
                <button onclick="toggleupdateForm()"> update</button>
            </div>
        {%endfor%}
    </div>
    <script>
        document.getElementById("updateForm").style.display = "none";
        function toggleupdateForm(){
            var updateForm = document.getElementById("updateForm");
            if (updateForm.style.display == "none"){
                updateForm.style.display = "block";
            }
            else{
                updateForm.style.display ="none";
            }
        }
        function searchTasks() {
            var searchInput = document.getElementById("searchInput").value.toLowerCase(); // Convert to lowercase
            var taskRows = document.getElementById("taskMatrix").getElementsByClassName('task-row');
        
            for (var i = 0; i < taskRows.length; i++) {
                var taskDescription = taskRows[i].querySelector("#taskDescription").textContent.toLowerCase(); // Convert to lowercase
        
                // If the task description contains the search input, show the task; otherwise, hide it
                taskRows[i].style.visibility = taskDescription.includes(searchInput) ? 'visible' : 'hidden';
            }
        }
        
    </script>
</body>
</html>