<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <header> 
        <div class="welcome">welcome! {{username}} </div>
        <a class="logout-button" href="/"> log out</a>
    </header>
    <div class ="head">
        <input type="text" name="search" id="searchInput" placeholder="Search" oninput="searchTasks()">

        <form action="/update" id = "updateForm" method="POST">
            <input type="text" name="description" placeholder="">
            <input type="date" name="date" placeholder="">
            <input type="text" name="category" placeholder="">
            <input type="submit" value="Update task" class="update-button">
        </form>

        <form action="/create/{{username}}" class="create" id="createform" method="POST">
            <input type="text" name="description" placeholder="task description">
            <input type="date" name="date" placeholder="date">
            <input type="text" name="category" placeholder="category">
            <input type="submit" class ="create-button" value = "create task">
        </form>
    </div>
    <div class = "task-matrix" id="taskMatrix">
        {% for task in tasks %}
            <div class="task-row">
                <div class = "task-attribute" id="taskDescription">{{task.description}}</div>
                <div class = "task-attribute" id ="taskDate">{{task.date}}</div>
                <div class = "task-attribute" id ="taskCategory">{{task.category}}</div>

                <form action="/delete/{{username}}" method="POST">
                    <input type="hidden" name="deleteid" value="{{task.id}}">
                    <input type="submit" value="Delete task" class="delete-button">
                </form>
                <button onclick="toggleupdateForm('{{username}}' , {{task.id}})"> update</button>
                <select name="share" id="share{{task.id}}" class = "share">
                    {% for user in users%}
                        <option value="{{user}}">{{user}}</option>
                    {% endfor %}
                </select class = "select">
                <button onclick="shareTask('{{username}}' , {{task.id}} , (this))"> share</button>
            </div>
        {%endfor%}
    </div>
    <script>
        document.getElementById("updateForm").style.display = "none";
        function toggleupdateForm(username , id){
            var updateForm = document.getElementById("updateForm");
            if (updateForm.style.display == "none"){
                updateForm.style.display = "block";
                updateForm.action = "/update/" + username;
                var newInput = document.createElement('input')
                newInput.type = "hidden"
                newInput.name ="updateid"
                newInput.value = id
                updateForm.appendChild(newInput);
                event.preventDefault();
                fetch(`/api/task/${id}`)
                    .then(response => response.json())
                    .then (task => {
                        updateForm.elements['description'].value = task.description;
                        updateForm.elements['date'].value = task.date;
                        updateForm.elements['category'].value = task.category;
                    })
                    .catch(error => console.error('Error fetching task details:', error));     
            }
            else{
                updateForm.style.display ="none";
            }
        }
        function searchTasks() {
            var searchInput = document.getElementById("searchInput").value.toLowerCase(); 
            var taskRows = document.getElementById("taskMatrix").getElementsByClassName('task-row');
        
            for (var i = 0; i < taskRows.length; i++) {
                var taskDescription = taskRows[i].querySelector("#taskDescription").textContent.toLowerCase(); 
                taskRows[i].style.visibility = taskDescription.includes(searchInput) ? 'visible' : 'hidden';
            }

        }
        
        function shareTask(username , task_id , button){
            var share = document.getElementById('share' + task_id);
            button.disabled = true;
            fetch(`/share/${task_id}/${share.value}`)
            .then (response => {
                if (response.ok){
                    button.textContent = 'task shared !'
                    button.style.backgroundColor = "green";
                }
                else {
                    throw new Error('Failed to share task');
                }
                enableShareButton(button);
                return response.text();
            })
            .catch(error => console.error('Error sharing task:', error));
            enableShareButton(button);     
    }
    function enableShareButton(button) {
        setTimeout(() => {
            button.textContent = "Share";
            button.disabled = false;
            button.style.backgroundColor = "";
        }, 3000); 
    }
            
            
        
        
    </script>
</body>
</html>