<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>login</title>
</head>
<body>
    <form action="/home" class="login-form" id="loginForm" method="POST"> 
        <input type="text" placeholder="username">
        <input type="text" placeholder="password">
       <button  class="login-button" onclick="validate()">login </button>   
    </form>
</body>
<script>
    function validate(){
        document.getElementById(loginForm).submit()
    }
</script>
</html>